@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* Example of setting some basic styles for the whole application */
body {
    font-family: Arial, sans-serif;
    background-color: #522d63;
    display:  flex;
    justify-content: center;
    /* height: 100vh; */
  }
  
  /* Example of styling a specific component */
.header {
    background-color: #746acc;
    color: rgb(255, 255, 255);
    padding: 1rem;
  }
  
div {
  /* display: flex; */
  /* border: 5px, solid, black; */
  justify-content:  center;
  /* align-items:  center; */
  color:  rgb(0, 0, 0);
    
}